name: CCID_build
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch: # 允许手动触发

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Print system info
        run: |
          uname -a
          sw_vers

      - name: Install dependencies
        run: |
          brew update
          brew install autoconf autoconf-archive automake m4  libtool make pkg-config pcsc-lite libusb
          ./bootstrap

      - name: configure
        run: |
          rm -f /opt/homebrew/Cellar/libusb/1.0.29/lib/libusb-1*.dylib
          rm -f /opt/homebrew/Cellar/libusb/1.0.29/lib/libusb-1.0.a
          cp libusb-1.0.a /opt/homebrew/Cellar/libusb/1.0.29/lib/
          export BUNDLE_ID=lm
          ./MacOSX/configure

      - name: make
        run: make
